@import '../../assets/styles/colors';
@import '../../assets/styles/generics';
@import '../../assets/styles/mixins';
@import '../../assets/styles/animations';

.main-view {
    $footer-height: 80px;
    $footer-width: 100%;
    $footer-inner-width: 90%;
    $footer-padding-lr: ($footer-width - $footer-inner-width) / 2;
    $footer-padding-tb: 20px;

    min-height: 100%;
    width: 100%;

    background-color: $color-white-1;
    background-size: 400% 400%;

    -webkit-animation: gradient $animationTiming 30s infinite;
    animation: gradient $animationTiming 30s infinite;

    transition: background 300ms ease-in-out;
    -moz-transition: background 300ms ease-in-out;
    -webkit-transition: background 300ms ease-in-out;

    .content {
        padding-bottom: $footer-height + $footer-padding-tb;
    }

    .footer {
        display: block;
        position: fixed;
        width: $footer-width;
        height: $footer-height;
        left: 0;
        bottom: $footer-padding-lr / 2;
        padding: $footer-padding-tb $footer-padding-lr;

        color: $color-white-1;

        @extend .clearfix;

        .creator-credit {
            display: block;
            float: left;
            width: 18px;

            @include vertical-align();
        }

        .additional-info {
            display: block;
            float: right;
            margin: 0;
            padding: 0;
            width: 130px;

            list-style-type: none;

            font-size: 1.2rem;
            font-weight: 300;
            line-height: 1.8;
            text-align: right;

            color: $color-white-4;

            .link {
                opacity: 0.8;
            }

            @include vertical-align();
        }

        .ctas {
            display: block;
            float: left;
            width: calc(100% - 130px - 18px);
            text-align: center;

            @include vertical-align();

            .button {
                margin: 0 5px;

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        @media (max-width: 500px) {
            .ctas {
                text-align: left;
            }
        }

    }

    &.answer-state {
        background-image: linear-gradient(
            135deg,
            $color-blue-1 0%,
            $color-blue-2 100%
        );
    }

    &.joy-state {
        background-image: linear-gradient(
            135deg,
            $color-light-blue-1 0%,
            $color-light-green-1 33%,
            $color-yellow-1 66%,
            $color-orange-1 100%
        );
    }

    &.actions-state {
        background-image: linear-gradient(
            135deg, 
            $color-pink-1 0%,
            $color-purple-1 100%
        );
    }

    &.joy-state,
    &.actions-state {
        .footer {
            color: $color-black-1;

            .additional-info {
                color: $color-black-4;
            }
        }
    }
}
