<div class="main-view"
     ng-cloak
     ng-class="[
        {
            'is-answer-state': $ctrl.state.currentView === 'answer',
            'is-joy-state': $ctrl.state.currentView === 'joy',
            'is-actions-state': $ctrl.state.currentView === 'actions',
        }
     ]"
     ng-if="$ctrl.render">

    <div ng-include="'views/main/partials/header/header.html'"></div>

    <div class="content">
        <div ng-if="$ctrl.state.currentView === 'answer'" ng-include="'views/main/partials/answer/answer.html'"></div>
        <div ng-if="$ctrl.state.currentView === 'joy'" ng-include="'views/main/partials/joy/joy.html'"></div>
        <div ng-if="$ctrl.state.currentView === 'actions'" ng-include="'views/main/partials/actions/actions.html'"></div>
    </div>

    <div ng-include="'views/main/partials/footer/footer.html'"></div>
</div>
