@import '../../assets/styles/colors';
@import '../../assets/styles/dimensions';
@import '../../assets/styles/generics';
@import '../../assets/styles/mixins';
@import '../../assets/styles/animations';

.main-view {
    display: block;
    position: absolute;
    overflow: auto;
    height: 100%;
    min-height: 100%;
    width: 100%;

    background-color: $color-white-1;
    background-size: 400% 400%;

    animation-duration: 120s;
    animation-name: gradient;
    animation-iteration-count: infinite;

    transition: background 300ms ease-in-out;
    -moz-transition: background 300ms ease-in-out;
    -webkit-transition: background 300ms ease-in-out;

    .content {
        display: block;
        position: relative;
        height: auto;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 5% $footer-height + $footer-padding-tb;

        text-align: center
    }

    &.is-answer-state,
    &.is-joy-state {
        .content {
            @include vertical-align();
        }
    }

    &.is-joy-state,
    &.is-actions-state {
        .header {
            color: $color-black-1;

            .problem-section {
                border-bottom-color: $color-black-4;
            }
        }

        .footer {
            color: $color-black-1;

            .additional-info {
                color: $color-black-4;
            }
        }
    }

    &.is-answer-state {
        background-image: linear-gradient(
            135deg,
            $color-blue-1 0%,
            $color-blue-2 100%
        );

        .header,
        .footer {
            background: transparent;
        }
    }

    &.is-joy-state {
        $joy-bg-color: #fcfcfc;

        background-color: $joy-bg-color;

        .header {
            transition: background 300ms ease-in-out;
            -moz-transition: background 300ms ease-in-out;
            -webkit-transition: background 300ms ease-in-out;

            background-color: $joy-bg-color;
        }

        .content {
            background-color: $joy-bg-color;

            @media (max-height: 1000px) {
                margin-top: 190px;
                padding-bottom: 200px;
                @include top-align();
            }
        }

        .footer {
            transition: background 300ms ease-in-out;
            -moz-transition: background 300ms ease-in-out;
            -webkit-transition: background 300ms ease-in-out;

            &,
            & .ctas {
                background: $joy-bg-color;
            }
        }
    }

    &.is-actions-state {
        $actions-bg-color: #fcfcfc;

        background-color: $actions-bg-color;

        .header {
            transition: background 300ms ease-in-out;
            -moz-transition: background 300ms ease-in-out;
            -webkit-transition: background 300ms ease-in-out;

            background: $actions-bg-color;
            z-index: 1;
        }

        .content {
            width: 55%;
            max-width: 720px;

            @media (max-width: 1050px) {
                width: 80%;
            }
        }

        .footer {
            transition: background 300ms ease-in-out;
            -moz-transition: background 300ms ease-in-out;
            -webkit-transition: background 300ms ease-in-out;

            background: $actions-bg-color;
        }
    }
}
