<div class="joy-section" ng-cloak ng-switch on="$ctrl.joyCollection.selectedItem.type">
    <div class="text-content" ng-switch-when="text">
        <h2 class="text-body">
            {{$ctrl.joyCollection.selectedItem.text}}
        </h2>
        <div class="source" ng-if="$ctrl.joyCollection.selectedItem.source">
            source:
            <a class="link link-dark"
               ng-href="{{$ctrl.joyCollection.selectedItem.source}}"
               target="_blank">
               {{$ctrl.joyCollection.selectedItem.source}}
            </a>
        </div>
    </div>

    <div class="image-content" ng-switch-when="image">
        <div class="img" ng-style="{'background-image': 'url({{$ctrl.joyCollection.selectedItem.url}})'}" />
        <div class="source" ng-if="$ctrl.joyCollection.selectedItem.source">
            source:
            <a class="link link-dark"
               ng-href="{{$ctrl.joyCollection.selectedItem.source}}"
               target="_blank">
               {{$ctrl.joyCollection.selectedItem.source}}
            </a>
        </div>
    </div>

    <div class="youtube-content" ng-switch-when="youtube">
        <iframe ng-src="{{$ctrl.joyCollection.selectedItem.videoId | youtubeEmbedUrl}}"
                width="560"
                height="315"
                frameborder="0"
                allowfullscreen>
        </iframe>
    </div>

    <div class="twitter-content" ng-switch-when="twitter">
        <twitter url="{{$ctrl.joyCollection.selectedItem.url}}"></twitter>
    </div>

    <div class="spotify-content" ng-switch-when="spotify">
        <h2 ng-if="$ctrl.joyCollection.selectedItem.title">{{$ctrl.joyCollection.selectedItem.title}}</h2>
        <iframe ng-src="{{$ctrl.joyCollection.selectedItem.uri | spotifyEmbedUrl}}"
                width="300"
                height="380"
                frameborder="0"
                allowtransparency="true">
        </iframe>
    </div>
</div>
