$color-black-1: black;

$color-gray-1: rgba($color-black-1, 0.8);
$color-gray-2: rgba($color-black-1, 0.02);

$color-white-1: white;

$color-purple-1: #5953FF;
$color-purple-2: rgba($color-purple-1, 0.2);

$color-blue-1: #0073FF;
$color-blue-2: rgba($color-blue-1, 0.5);

$color-teal-1: #77FFCD;

$color-yellow-1: #FEE980;
$color-yellow-2: rgba($color-yellow-1, 0.5);

$font-color-light: $color-white-1;
$font-color-dark: $color-black-1;
