$color-black-1: black;
$color-black-2: rgba($color-black-1, .8);
$color-black-3: rgba($color-black-1, .5);
$color-black-4: rgba($color-black-1, .2);
$color-black-5: rgba($color-black-1, .08);

$color-white-1: white;
$color-white-2: rgba($color-white-1, .8);
$color-white-3: rgba($color-white-1, .5);
$color-white-4: rgba($color-white-1, .2);
$color-white-5: rgba($color-white-1, .08);


$color-blue-1: #2D3E97;
$color-blue-2: #34354E;

$color-light-blue-1: #21C8E0;

$color-light-green-1: #C0E69D;

$color-yellow-1: #DFDC68;

$color-orange-1: #DFB068;

$color-pink-1: #FFA28A;

$color-purple-1: #CEABFF;
