@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/dimensions';
@import '../../../../assets/styles/generics';
@import '../../../../assets/styles/mixins';
@import '../../../../assets/styles/animations';

.answer-section {
    color: $color-white-1;
    font-weight: 300;
    line-height: 1.2;

    h1 {
        color: $color-white-1;
    }
}
